@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    font-family: 'Inter', sans-serif;
    background: url(../assets/weather1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width:100%;
}
.main{
    height: inherit;
    /* width:100%; */
}
.card {
    backdrop-filter: blur(4px) saturate(179%);
    -webkit-backdrop-filter: blur(4px) saturate(179%);
    background-color: rgba(255, 255, 255, 0.53);
    border: 1px solid rgba(209, 213, 219, 0.3);
    height: 100vh;
}
.search{
    position: relative;
    /* box-shadow: 0 0 40px rgba(51, 51, 51, .1);  */
    background-color: transparent;
    }
    .search input{
     height: 60px;
     text-indent: 25px;
     /* border: 2px solid #d6d4d4; */
    }
    input[type="text"] {
        background: transparent; 
        border: none;
        border-bottom: 1px solid #000;
     } 
    .search input:focus{
     box-shadow: none;
     border: 2px solid blue;
    }

    .search .fa-search{
     position: absolute;
     top: 20px;
     left: 16px;

    }

    .search button{
     position: absolute;
     top: 3px;
     right: 30px;
     /* height: 50px;
     width: 110px; */
     /* background: blue; */
     color: black;
     font-size: 20px;

    }
    .search-btn:hover{
        transform: scale(1.2);
    }
    .listed{
        list-style-type: none;
    }
    .bold{
        font-weight: 100;
    }
    .ki{
        color: #fff;
    }
    .expand-btn{
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 50px;
    }
/* Media queries */
@media screen and (max-width: 768px) {
   .weather-list{
    display: none;
   }
  }