:root{
    --orange : #F15412;
}
.btn{
    background-color: var(--orange);
    border-color: var(--orange);
}
.btn:hover{
   transform: scale(1.10);
   opacity: 0.9;
}
.navbar{
    background-image:url(../assets/Wave.svg) ;
    background-repeat: no-repeat;
     background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.navbody{
    border-radius: 5px;
    background-color: #F15412;
}
.hero-trans{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 2px 2px 10px 3px rgba(153,153,153,1)
}
.hero-trans i{
    border-radius: 50%;
}
.out i{
    color: #F15412;
}
/* media queries */
@media only screen and (min-width : 50px) and (max-width : 629px){
    .navbar{
        margin-top: -0.5rem;
    }
    .navbody{
        border-radius:0px 0px 5px 5px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1200px){
    /* .camel-pix img{
        width:2000px;
    } */
}